@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway:400,300,500,700,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,300,300italic,400italic,700,800,700italic);

body {
	width: 100%;
	display: block;
	position: relative;
	/*background-image: url(trn_cover.svg);*/
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.container {
	/*max-width: 1280px;*/
	width: 50%;
	margin: 0 auto;
}

.containerimage {
	width: 565px;
	margin: 0 auto;
	/*background-image: url(getpeacefulBanner.png);
	background-repeat: no-repeat;*/
}

.logo-img {
	display: inline-block;
	margin: 0 auto;
	height: 94px;
}

.nav {
	font-size: 19px;
	display: table;
	/*width: 60%;*/
	margin: 0 auto;
	margin-top: 20px;
}

a {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-align: center;
	padding: 0 50px 0;
}

.wrap {
	margin-top: 10px;
	position: relative;
}

.anti {
	/*position: absolute;*/
	/*float: left;*/
	/*left: 44px;*/
	background-color: #501010;
	width: 25%;
	height: auto;
	/*margin-top: 10px;*/
	/*padding: 10px 0 10px 0;*/
	display: inline-block;
	position: relative;
	vertical-align: top;

}

.anti li {
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.holder {
	background-color: white;
	color: black;
	width: 74%;
	height: auto;
	/*margin-top: 10px;
	padding: 10px 0 10px 0;*/
	position: relative;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.holder p {
	margin: 20px;
}


/*@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 30px;
}

.anti,
.holder {
	display: block;
	width: 100%;
	padding: 10px;
}


}*/