@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway:400,300,500,700,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,300,300italic,400italic,700,800,700italic);

@font-face {
	font-family: Aachen Std Medium;
	src: url("Aachen Std Medium.otf") format('opentype'), url('trn_cover.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helvetica;
	src: url("HelveticaNeueLTStd-Md.otf");
}

body {
	width: 100%;
	display: block;
	position: relative;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	margin: 0 auto;
}

/*img {
	width: 15%;
}*/

.cubeleft img {
	float: left;
	display: inline-block;
	width: 50%;
	height: auto;
}

.cuberight img {
	margin: 0 auto;
	display: block;
	width: 30%;
	height: auto;
}

.cube {
	display: block;
	margin: 10px;
}

.container {
	/*max-width: 1280px;*/
	width: 100%;
	margin: 0 auto;
}

.containerimage {
	width: 565px;
	margin: 0 auto;
	
}

.logo-img {
	display: inline-block;
	margin: 0 auto;
	height: 94px;
}


a {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-align: center;
	padding: 0;
}

p {
	font-family: 'Helvetica', sans-serif;
	text-decoration: none;
	margin-right: 0;
	margin-left: 0;
}

.wrap {
	margin-top: 10px;
	position: relative;
	margin: 0 auto;
}

.holder {
	float: right;
	background-color: white;
	color: black;
	width: 35%;
	height: auto;
	/*margin-top: 10px;
	padding: 10px 0 10px 0;*/
	/*position: relative;*/
	display: inline-block;
	position: relative;
	margin-top: 30px;
	margin-right: 56px;
}

.holder img {
	width: 100%;
}

.holder p {
	margin: 20px;
	text-align: center;
}

button {
	display: block;
	position: relative;
	margin: 10px auto;
	padding: 10px;
	font-size: 20px;
	background-color: #DCBA37;
	color: #FFFFFF;
	border-radius: 15px;
}

@media (max-width: 600px){
	.cubeleft img{
  	width: 100%;
	}
	.cuberight .holder{
		width: 100%;
		margin-right: 0;
	}
}


/*@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 30px;
}

.anti,
.holder {
	display: block;
	width: 100%;
	padding: 10px;
}


}*/